[user]
	email = patrick.reinboth@mtg.de
	name = Patrick Reinboth
  signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIJQZf7Exc83B+4WkI4G1Drpkyx5xJKkZezW7i70Gmw0P

[includeIf "gitdir:~/dotfiles/"]
  path = ~/.gitconfig-private
